extends layout

block content
  if !user
    a(href="/login") Login
    br
    a(href="/register") Register
  else
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout
    div(ui-view)
    script.
      var user_name = "#{user.username}";
      var user_id = "#{user.id}";



