// temp
// script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")


// socket.io
script(src="/socket.io/socket.io.js")
script(src="/javascripts/socket-io/socket.js")
// paper.js
script(src="/components/paper/dist/paper-full.min.js")
// rainyday
script(src="/javascripts/rainyday/rainyday.min.js")
// simple web rtc
script(src="/javascripts/simpleWebRTC/latest.js")
// angular
script(src="/components/angular/angular.min.js")
script(src="/components/angular-ui-router/release/angular-ui-router.min.js")
script(src="/javascripts/angular/app.js")
script(src="/javascripts/angular/config.js")
script(src="/javascripts/angular/controllers/chat.js")
script(src="/javascripts/angular/controllers/rooms.js")
script(src="/javascripts/angular/controllers/draw.js")
script(src="/javascripts/angular/controllers/upload.js")
script(src="/javascripts/angular/controllers/video.js")
script(src="/javascripts/angular/directives.js")
// angular file upload
script(src="/components/ng-file-upload/angular-file-upload-shim.min.js")
script(src="/components/ng-file-upload/angular-file-upload.min.js")
