// socket.io
script(src="/socket.io/socket.io.js")
script(src="/javascripts/socket-io/socket.js")
// angular
script(src="/components/angular/angular.min.js")
script(src="/components/angular-ui-router/release/angular-ui-router.min.js")
script(src="/javascripts/angular/app.js")
script(src="/javascripts/angular/config.js")
script(src="/javascripts/angular/controllers/chat.js")
script(src="/javascripts/angular/controllers/rooms.js")
script(src="/javascripts/angular/directives.js")
script(src="/javascripts/audio.js")
script(src="http://cdn.peerjs.com/0.3/peer.js")