@font-face {

  font-family: 'whhg';
  src: url('/fonts/whhg/webhostinghub-glyphs.eot');
  src: url('/fonts/whhg/webhostinghub-glyphs.eot?#iefix') format('embedded-opentype'),
       url('/fonts/whhg/webhostinghub-glyphs.ttf') format('truetype'),
       url('/fonts/whhg/webhostinghub-glyphs.svg') format('svg');
  src: url('/fonts/whhg/webhostinghub-glyphs.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

html, body {

  width: 100%;
  height: 100%;

}

body {

  padding: 0px;
  margin: 0;
  overflow: hidden;

}

a {

  color: #00B7FF;

}

ul {

  list-style-type: none;
  padding: 0;
  margin: 0;

}

div#content {

  position: static;
  width: 100%;
  height: 100%;
  z-index: 50;

}

div.clear {

  clear: both;

}

[icon]::before {

  content: attr(icon);
  font-family: 'whhg';

}

#dp_swf_engine {

  display: none;

}

/*------- upload -------*/

div#content-wrapper {

  width: 100%;
  height: 100%;

}

img#upload-img {

  position: absolute;
  z-index: 100;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}

input#upload {

  width: 100%;
  display: block;
  border: none;
  background-color: #333;

}

/*------- chat -------*/

div#chat {

  float: left;
  width: 15%;
  height: 100%;
  position: relative;
  background-color: #333;
  color: #ccc;

}

div#chat-info {

  padding: 0 15px;
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #333;
  box-shadow: 0 -1px 0 0 #222 inset, 0 1px 0 0 #444;

}

div#chat-content {

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow: auto;

}

div#chat-content div#top {

  height: 75px;

}

div#chat-content div#bottom {

  height: 30px;

}

ul.chat-content li {

}

p.message {

  word-wrap: break-word;

}

input#messageBox {

  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 30px;
  border: none;
  background-color: #333;
  color: #ccc;
  padding: 0;
  text-indent: 15px;
  font-size: 14px;
  box-shadow: 0 1px 0 0 #444 inset, 0 -1px 0 0 #222;

}

/*------- rooms -------*/

#roomlist {

  list-style-type: none;

}

hr {

  border-top: #000;

}

/*------- toolbox -------*/

div#toolbox {

  background-color: #333;
  position: relative;
  width: 3%;
  height: 100%;
  float: left;
  box-shadow: -1px 0 0 0 #444, -2px 0 0 0 #222;

}

div#toolbox > [icon] {

  display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 0;
  padding: 50% 0;

}

div#toolbox > [icon]::before {

  font-size: 2vw;
  padding: 16.667%;
  background-color: #333;
  color: #ccc;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;

}

div#toolbox > button {

  border: none;
  background-color: #333;

}

div#toolbox > button[icon].silent::before {

  content: '\f789';

}


/*------- draw -------*/

div#draw {

  float: left;
  position: relative;
  width: 82%;
  height: 100%;
  overflow: hidden;

}

canvas#main {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;

}

/*------- rain -------*/

img#rain {

  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;

}

/*------- voice -------*/

div#voice {

  display: none;

}


