body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {

  list-style-type: none;

}

#roomlist {

  list-style-type: disc;
  background-color: #00FF00;

}

hr {

  border-top: #000;

}

canvas#main {

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

}