body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {

  list-style-type: none;

}

#roomlist {

  list-style-type: disc;
  background-color: #00FF00;

}

hr {

  border-top: #000;

}